<form action='/submit_entry' method="post">
  <input type="text" name='title' placeholder='Title'>

  <textarea name='full_entry'>
    Type your entry here
  </textarea>

  <input type='submit' value="Submit Entry">
</form>
